/servicePlan/utils.py
/servicePlan/settings.py
/quality/migrations/
/landing/migrations/
/db.sqlite3
/user_profile/migrations/
venv/
.idea/
servicePlan/__pycache__/
/node_modules/
package.json
package-lock.json



