{% load static %}

<!doctype html>
<html lang="en">
  <head>
      <style>

        .imgs{
            width: 150px;
            margin: 10px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
        {% block nav-bar %}{% endblock %}
        {% block nav %}{% endblock %}
        {% block contents %}{% endblock %}
        {% block detail %}{% endblock %}
        {% block list %}{% endblock %}
        {% block input %}{% endblock %}
        {% block script %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
  <script>
    let attached = document.querySelectorAll('.attached')
    for (i=1; i<5; i++){
        attached[i].style.display = 'none'
    }


    function setThumbnail(event) {
        var reader = new FileReader();
        reader.onload = function(event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            document.querySelector("div#image_container").appendChild(img);
            let attached = document.querySelectorAll('.attached')

            var countImage = document.querySelector("div#image_container").children.length
            document.querySelector("div#image_container").lastChild.setAttribute('class', 'imgs')
            if (countImage<5){
                attached[countImage].style.display ="block"
            }


        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
  </body>
</html>

