{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block contents %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h2 class="display-5 fw-bold">{{ type }}</h2>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">삭제하시겠습니까?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">확인</button>
                {% if type == 'block'%}
                    <a href="{% url 'scenario_detail_block' pk0 pk1 %}" class="btn btn-outline-secondary btn-lg px-4">취소</a>
                {% elif type == 'comments' %}
                    <a href="{% url 'scenario_detail_block' pk0 pk2 %}" class="btn btn-outline-secondary btn-lg px-4">취소</a>
                {% elif type == 'scenario' %}
                    <a href="{% url 'scenario_detail' pk1 %}" class="btn btn-outline-secondary btn-lg px-4">취소</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}