{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block input %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% if position == "comment" %}
        <div>{{ form.status }}</div>
    {% else %}
        <div>{{ form.title }}</div>
    {% endif %}
    <div>{{ form.desc|safe }}</div>
    <div>{{ form.image_1|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
    <div>{{ form.image_2|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
    <div>{{ form.image_3|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
    <div>{{ form.image_4|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
    <div>{{ form.image_5|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>

    <div id="image_container"></div>
    <input type="submit" value="제출하기">
</form>
{% endblock %}




