{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
      <link rel="stylesheet" href="{% static 'quality/css/jquery-ui.css' %}">
{% endblock %}
{% block nav-bar %}

<div class="container">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class=" btn btn-sm btn-secondary" href="{% url 'project_list' %}" >뒤로가기</a>
            <br>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">시나리오 확인</button>
        </div>


    </nav>
</div>

{% endblock %}

===========================================================

{% block contents %}
<div class="row">
    <div class="col-sm-10 overflow-auto offset-sm-1">
        <div>
            <h1>프로젝트 디테일 화면</h1>
        </div>
        <div class="container">
            <h2>{{ data.title }}</h2>
            <p>{{ data.desc }}</p>
            {% if graph %}
                <div style="width:100%;">
                    {{ graph|safe }}
                </div>
            {% endif %}

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 20px; margin-right: 20px">
        시나리오 만들기
    </button>
    <br>
    <div class="offcanvas-body">
        <div>
            <ol class="list-group list-group-numbered">
            {% for li in list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><a href="{% url 'scenario_detail' li.pk %}">{{ li.title }}</a></div>
                       {{ li.desc }}
                </div>
                <span class="badge bg-primary rounded-pill">{{ li.block_relation.count }}</span>
            </li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}


{% block input %}
<div class="container">


<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">시나리오 만들기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">

                        <p>{{ form.title |add_class:"form-control" | attr:"placeholder:제목"}}</p>
                        <p>{{ form.start_date|add_class:"form-control" }}</p>
                        <p>{{ form.due_date|add_class:"form-control" }}</p>
                        <p>{{ form.desc|add_class:"form-control" | attr:"placeholder:내용" }}</p>
                        <div class="container">
                            <div id="image_container"></div>
                        </div>
                        <p>{{ form.image_1|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</p>
                        <p>{{ form.image_2|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</p>
                        <p>{{ form.image_3|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control " }}</p>
                        <p>{{ form.image_4|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</p>
                        <p>{{ form.image_5|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</p>
                        <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">작성하기</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
      <script src="{% static 'quality/js/jquery-3.6.0.js' %}"></script>
  <script src="{% static 'quality/js/jquery-ui.js' %}"></script>
<script>
    initPictureUpload()
    function initPictureUpload(){
        let attached = document.querySelectorAll('.attached')
        for (i=1; i<5; i++){
            attached[i].style.display = 'none'
        }
    }
    $( function() {
        $( "#id_start_date" ).datepicker({dateFormat: 'yy-mm-dd'});
      } );

    $( function() {
        $( "#id_due_date" ).datepicker({dateFormat: 'yy-mm-dd'});
      } );
</script>

{% endblock %}