{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block nav-bar %}
<div>
    <a href="{% url 'project_list' %}">리스트로 이동</a>
</div>
{% endblock %}

===========================================================
{% block detail %}
<div>
1234
{{ position }}
    {% if position == 'project' %}
        <h1>프로젝트 디테일 화면</h1>
    {% elif position == 'scenario' %}
        <h1>시나리오 리스트 화면</h1>
    {% endif %}
</div>
<div>
    <ul>
        <li>{{ data.title }}</li>
        <li>{{ data.desc }}</li>
        <li>{{ data.pk }}</li>
    </ul>
</div>
{% endblock %}

{% block list %}
<div>
    <ul>
        {% for li in list %}
            <li><a href="{% url 'scenario_detail' li.pk %}">{{ li.title }}</a> </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block input %}
<div>
    <a class="btn btn-sm" data-bs-toggle="collapse" href="#write_comments" role="button" aria-expanded="false" aria-controls="collapseExample">
        시나리오 만들기
    </a>
</div>
<div class="collapse" id="write_comments">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}

        <div>{{ form.title |add_class:"form-control"}}</div>
        <div>{{ form.desc|add_class:"form-control" }}</div>

        <div>{{ form.image_1|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</div>
        <div>{{ form.image_2|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</div>
        <div>{{ form.image_3|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control " }}</div>
        <div>{{ form.image_4|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</div>
        <div>{{ form.image_5|attr:"onchange:setThumbnail(event)" | add_class:"attached form-control" }}</div>

        <div id="image_container"></div>
        <input type="submit" value="제출하기">
    </form>
</div>
{% endblock %}


{% block script %}
<script>
    initPictureUpload()
    function initPictureUpload(){
        let attached = document.querySelectorAll('.attached')
        for (i=1; i<5; i++){
            attached[i].style.display = 'none'
        }
    }
</script>

{% endblock %}