{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block detail %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>시나리오 디테일</h1>
            <div>
                <a href="{% url 'project_list' %}">리스트로 이동</a>
            </div>
            <div>
                <ul>
                    <li>{{ data.title }}</li>
                    <li>{{ data.desc }}</li>
                    <li>{{ data.pk }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6"  >
            <div id="list_order" class="list-group">
                {% for li in list %}
                    <div class="list-group-item" data="{{ li.order }}">
                        <div class="columns">
                            <div class="col-xs-10">
                                <a onclick="location.href='/procedure/block/update/{{ li.pk }}/'">
                                    <p class="center">{{ li.desc }}</p>
                                </a>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary" onclick="blockInput()">글 쓰기</button>
            <div class="block-input-form" style="display: none">
                <form method="POST" name="block" enctype="multipart/form-data">{% csrf_token %}
                    {% if position == "comment" %}
                        <div>{{ form.status }}</div>
                    {% else %}
                        <div>{{ form.title }}</div>
                    {% endif %}

                    <div>{{ form.desc|safe }}</div>
                    <div>{{ form.image_1|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_2|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_3|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_4|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_5|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div id="image_container"></div>
                    <div>
                        <input type="submit" value="제출하기" onclick="console.log(123)">
                    </div>

                </form>
            </div>

        </div>

    </div>
</div>


{% endblock %}

{% block list %}



{% endblock %}

{% block input %}


{% endblock %}

{% block script %}
    <script src="{% static 'quality/js/Sortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'quality/js/prettify.js' %}"></script>

    <script>
        //sortable 설정
        new Sortable(list_order, {
            animation: 150,
            ghostClass: 'blue-background-class',
            store: {
                get: function (sortable) {
                    var order = localStorage.getItem(sortable.options.group.name);
                    return order ? order.split('|') : [];
                },
                set: function (sortable) {
                    var order = sortable.toArray();
                    localStorage.setItem(sortable.options.group.name, order.join('|'));
                    //데이터 저장 로직
                    var data = {
                        'pk': {{ data.pk }},
                        'data': localStorage.getItem(null),
                    }
                    postOrderData(data)

                }
            },
        });
        //윈도우 시작할 때 로컬 저장소에 리스트 순서 입력
        window.onload = function (){
            var temp = "{{ data.block_order }}"
            temp = JSON.parse(temp.replace(/&quot;/g,'"'));
            localStorage.setItem('null',temp)

        }


        //버튼 사라짐 세팅
        function blockInput(){
            let obj = document.querySelector('.block-input-form')
            if (obj.style.display == 'none'){
                 document.querySelector('.block-input-form').style.display='block'
            }else{
                 document.querySelector('.block-input-form').style.display='none'
            }

        }


        //서버 데이터 보냄
        function postOrderData(data) {
            $.ajax({
                url: "{% url 'update_block_order' %}",  // serviceKey 값을 xxxxxx에 입력
                type: "POST",
                data: JSON.stringify(data), // json 을 string으로 변환하여 전송
                dataType: "JSON",
                contentType: "application/json",
                accept: "application/json",
                success: function(result) {

                },
                error: function(result) {
                  console.log(result.responseText); //responseText의 에러메세지 확인

                }
            });
        }


    </script>

{% endblock %}

