{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
{% endblock %}

{% block detail %}

<div class="row">
    <div class="col-sm-6">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <div class="list-group" id="list_order">
            {% comment %}
                 if an item was activated, add class 'active'
            {% endcomment %}

            {% for li in list %}
                <a class="list-group-item list-group-item-action " href="{% url 'scenario_detail' data.pk %}?keyword={{ li.pk }}">
                    <div class="d-flex w-100 justify-content-between">
{#                        <small class="text-muted">{{ li.created_at }}</small>#}
                    </div>
                    <p class="mb-1">{{ li.desc }}</p>
                    <small class="text-muted">{{ li.created_at }}</small>
                </a>
            {% endfor %}


        </div>
    </div>
    <div class="col-sm-6">
        {% if comments_list %}
            {% for comments in comments_list %}
                {{ comments.desc }}
            {% endfor %}
        {% else %}
            <p>아직 코멘트가 없습니다.</p>
        {% endif %}

    </div>
</div>
{% comment %}
<div class="container">
    <div class="columns">
        <div class="column">
            <article class="panel is-info">
                <p class="panel-heading">
                Info
                </p>
                <p class="panel-tabs">
                    {% for dt in raw_data %}
                        <a class="is-active" href="{% url 'scenario_detail' dt.pk%}">{{ dt.title }}</a>
                    {% endfor %}
                </p>
                <form method="POST" name="block" enctype="multipart/form-data">{% csrf_token %}
                    <div class="panel-block">
                        <div class="control has-icons-left" style="width: 200%">
                            {{ form.desc | add_class:"input is-info" }}
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button class="button is-info" type="submit" >
                                생성하기
                            </button>
                        </div>
                    </div>
                </form>
                <div id="list_order" class="list-group">
                    {% for li in list %}
                         <a class="panel-block list-group-item is-active" href="{% url 'scenario_detail' data.pk %}?keyword={{ li.pk }}">
                            <span class="panel-icon"><i class="fas fa-book" aria-hidden="true"></i></span>
                            {{ li.desc }}
                        </a>
                    {% endfor %}
                </div>

            </article>


        </div>
        <div class="column" data-allow-multiple="false">
            {% if comments_list %}
                {% for comments in comments_list %}
                    <div class="card">
                        <header class="card-header">
                        <p class="card-header-title">
                        Card title
                        </p>
                        <a href="#collapsible-card" data-action="collapse" class="card-header-icon is-hidden-fullscreen" aria-label="more options">
                        <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                        </a>
                        </header>
                        <div id="collapsible-card" class="is-collapsible is-active">
                        <div class="card-content">
                        <p class="title is-4">
                        “There are two hard things in computer science: cache invalidation, naming things, and off-by-one
                        errors.”
                        </p>
                        <p class="subtitle is-5">
                        Jeff Atwood
                        </p>
                        </div>
                        <footer class="card-footer">
                        <p class="card-footer-item">
                        <span>
                        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
                        </span>
                        </p>
                        <p class="card-footer-item">
                        <span>
                        Share on <a href="#">Facebook</a>
                        </span>
                        </p>
                        </footer>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>아직 코멘트가 없습니다.</p>
            {% endif %}
                <div>
                    <button class="" onclick="blockInput()">글 쓰기</button>
                    <div class="block-input-form" style="display: none">
                        <form method="POST" name="block" enctype="multipart/form-data">{% csrf_token %}
                            {% if position == "comment" %}
                                <div>{{ form.status }}</div>
                            {% else %}
                                <div>{{ form.title }}</div>
                            {% endif %}

                            <div>{{ form.desc|safe }}</div>

                            <div>
                                <input type="submit" value="제출하기" onclick="console.log(123)">
                            </div>

                        </form>
                    </div>
                </div>
            {% comment %}
            <div>
                <button class="" onclick="blockInput()">글 쓰기</button>
                <div class="block-input-form" style="display: none">
                <form method="POST" name="block" enctype="multipart/form-data">{% csrf_token %}
                    {% if position == "comment" %}
                        <div>{{ form.status }}</div>
                    {% else %}
                        <div>{{ form.title }}</div>
                    {% endif %}

                    <div>{{ form.desc|safe }}</div>
                    <div>{{ form.image_1|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_2|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_3|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_4|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div>{{ form.image_5|attr:"onchange:setThumbnail(event)" | add_class:"attached" }}</div>
                    <div id="image_container"></div>
                    <div>
                        <input type="submit" value="제출하기" onclick="console.log(123)">
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
{% endcomment %}

{% endblock %}

{% block list %}



{% endblock %}

{% block input %}


{% endblock %}

{% block script %}
    <script src="{% static 'quality/js/Sortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'quality/js/prettify.js' %}"></script>
    <script>
        //sortable 설정
        new Sortable(list_order, {
            animation: 150,
            ghostClass: 'blue-background-class',
            store: {
                get: function () {
                    var order = localStorage.getItem({{ data.pk }});
                    return order ? order.split('|') : [];
                },
                set: function (sortable) {
                    var order = sortable.toArray();
                    localStorage.setItem({{ data.pk }}, order.join('|'));
                    //데이터 저장 로직
                    var data = {
                        'pk': {{ data.pk }},
                        'data': localStorage.getItem(null),
                    }
                    postOrderData(data)

                }
            },
        });
        //윈도우 시작할 때 로컬 저장소에 리스트 순서 입력
        window.onload = function (){
            var temp = "{{ data.block_order }}"
            temp = JSON.parse(temp.replace(/&quot;/g,'"'));
            if(localStorage.getItem({{ data.pk }})){

            }else{
                localStorage.setItem({{ data.pk }},temp)
            }

        }


        //버튼 사라짐 세팅
        function blockInput(){
            let obj = document.querySelector('.block-input-form')
            if (obj.style.display == 'none'){
                 document.querySelector('.block-input-form').style.display='block'
            }else{
                 document.querySelector('.block-input-form').style.display='none'
            }

        }


        //서버 데이터 보냄
        function postOrderData(data) {
            $.ajax({
                url: "{% url 'update_block_order' %}",  // serviceKey 값을 xxxxxx에 입력
                type: "POST",
                data: JSON.stringify(data), // json 을 string으로 변환하여 전송
                dataType: "JSON",
                contentType: "application/json",
                accept: "application/json",
                success: function(result) {

                },
                error: function(result) {
                  console.log(result.responseText); //responseText의 에러메세지 확인

                }
            });
        }


    </script>

{% endblock %}

